.container {
  margin-top: 0.23em;
  width: min-content;
  height: min-content;
}

#loader {
  margin-top: 7em;
  color: black;
}

#recommendations {
  font-size: 1.1em;
  background-color: #388e3c;
  font-weight: bold;
  color: white;
  display: flex;
}

#recommendations:hover {
  background-color: #2e7d32;
}

#modalImg {
  width: 15em;
}

.load_img {
  height: 15em;
  margin-bottom: 7em;
  align-content: center;
}

.load_img img {
  width: 100%;
  height: 100%;
}

#dimmer {
  background-color: transparent;
}

.book_list {
  display: grid;
  grid-gap: 20px;
  margin-left: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
